.first.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block1, .block2, .block3 {
    font-size: 40px;
    margin: 10px;
    background-color: #eb3434;
    width: 500px;
    height: 280px;
    display: flex;
    align-items: center;
    place-content: center;
}


body {
    background-color: rgb(252, 126, 126);
}

.second.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: space-between;
}

.block4, .block5 {
    background-color: blue;
    display: flex;
    align-items: center;
    place-content: center;
    margin-inline: 10px;
    width: 750px;
    height: 500px;  
}

.block4 h1, .block5 h1 {
    font-size:100px;
    font-weight: bold;
}